/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
}

html {
    font-size: 16px;
}

body {
    font-family: "Alte Haas Grotesk", sans-serif;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Global button reset to look like links */
button {
    background: none;         /* remove default button background */
    border: none;             /* remove default button border */
    font-style: none;
    color: inherit;           /* inherit your text/link color */
    font: inherit;            /* inherit font style from parent */
    cursor: pointer;          /* pointer on hover */
    padding: 0;               /* remove default padding */
    transition: color 0.3s;   /* smooth hover color transition */
}

/* Hover effect to match links */
button:hover {
    color: rgb(0, 0, 0); 
}

.header,
.footer {
    font-size: 14px;
}

/* global selection style */
::selection {
    background-color: #000; 
    color: #fff;           
}

/* for firefox (uses ::-moz-selection) */
::-moz-selection {
    background-color: #000;
    color: #fff;
}

.js-hidden {
    opacity: 0;
}