/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
}

html {
    font-size: 16px;
}

body {
    font-family: "Alte Haas Grotesk", sans-serif;
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.header,
.footer {
    font-size: 14px;
}

/* global selection style */
::selection {
    background-color: #000; 
    color: #fff;           
}

/* for firefox (uses ::-moz-selection) */
::-moz-selection {
    background-color: #000;
    color: #fff;
}

.js-hidden {
    opacity: 0;
}