/* -----------------------axurbach dev ruler-----------------------*/

.dev-ruler {
    position: fixed;
    border: 1px dashed #000;
    background: rgba(0, 0, 0, 0.03);
    pointer-events: none;
    z-index: 9999;
}

.dev-ruler-label {
    position: absolute;
    top: -1.5rem;
    left: 0;
    font-size: 12px;
    background: #000;
    color: #fff;
    padding: 2px 6px;
    white-space: nowrap;
}
