/* -------------- desktop styles -------------- */
.self-portrait {
    display: flex;
    border: 1px solid #000; /* use shorthand hex for professionalism */
    max-height: 100%;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    aspect-ratio: 2 / 3;
    max-height: 100%;
    max-width: 100%;
    justify-content: center;
    padding: 0 1.5rem; /* shorthand for left/right padding */
}

/* -------------- tablet + mobile styles -------------- */
@media screen and (max-width: 1024px) {
    .self-portrait {
        width: 85vw;
        max-width: 500px;
    }

    .about-info {
        width: 85vw;
        max-width: 500px;
        height: auto;
        max-height: none;
        aspect-ratio: unset;
        margin: 4rem 0; /* shorthand for top/bottom */
        padding: 0;
    }
}
