.self-portrait {
  display: flex;
  border: black solid 1px;
  max-height: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  aspect-ratio: 2/3;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

